# Glmnet files
glmnet_matlab.zip
glmnet_matlab/
__MACOSX

# Default output directory
Output/

# Temporary m files
*.m~

# MATLAB compiler output files
SCINGE_Example
SINGE_Example
SINGE_GLG_Test
SINGE_Aggregate
mccExcludedFiles.log
requiredMCRProducts.txt
code.md5
