# Glmnet files
glmnet_matlab.zip
glmnet_matlab/
__MACOSX

# Default output directory
Output/

# Temporary m files
*.m~

# MATLAB compiler output files
SCINGE_Example
mccExcludedFiles.log
requiredMCRProducts.txt

